.container {
  width: 100%;
  min-height: 10px;
  padding: 5px 50px;
  background-color: initial;
  display: grid;
  place-items: center;
}

@media screen and (width <= 490px) {
  .container {
    padding: 5px 10px;
  }
}
